.option {
  border-bottom: 1px solid lighten($light-blue, 10%);
  display: flex;
  justify-content: space-between;
  padding: $m-size $m-size;
  list-style: none;
}

.option__text {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  word-break: break-all;
}
